<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flappybird">

    <uses-permission android:name="android.permission.INTERNET" />

<application
    android:allowBackup="true"
    android:icon="@drawable/bird_icon"
    android:roundIcon="@drawable/bird_icon"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.FlappyBird">
    <!-- ... rest of manifest ... -->

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.FlappyBird"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainMenuActivity"
            android:theme="@style/Theme.FlappyBird"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.FlappyBird"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:theme="@style/Theme.FlappyBird"

            android:screenOrientation="portrait"/>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.FlappyBird"
            android:screenOrientation="portrait"/>

    </application>
</manifest>